<div class="container">
    <div class="header">
        <img class="logo" src="../../../assets/images/logo.png">
        <div class="divstdiv">
            <div class="btn">Home</div>
            <div class="btn">Technologies</div>
            <div class="btn">Skills</div>
            <div class="btn">Coding</div>
            <div class="btn">Challenge</div>
            <div class="btn">News</div>
            <form class="search-container" action="//llamaswill.tumblr.com/search">
                <input id="search-box" type="text" class="search-box" name="q" />
                <label for="search-box">
                    <mat-icon class="search-icon">search</mat-icon>
                </label>
                <input type="submit" id="search-submit" />
            </form>
        </div>
        <div class="divacc">
            <div class="account">
                <mat-icon class="menu">account_circle</mat-icon>
                <mat-icon class="menu">menu</mat-icon>
            </div>
        </div>
    </div>
</div>