<div class="container">
    <div id="table-login">
        <div class="divlogo">
            <img class="logo" src="../../../assets/images/Rectangle 287.png" alt="">
        </div>
        <div class="divinput">
            <input placeholder="User name" type="text" >
            <br>
            <input placeholder="Password" type="password" >
        </div>
        <button>LOG IN</button>
        <p>Log in with </p>
        <div class="boxlogo">
            <div>
                <img class="logowith" src="../../../assets/images/gg.png" alt="" >
                <img class="logowith" src="../../../assets/images/fb.png" alt="" >
                <img class="logowithtwiter" src="../../../assets/images/twitter.png" alt="">
            </div>
        </div>
        
    </div>
</div>
