#container{
    display: block;
    display: flex;
    margin-left: 10%;
}
.button_setting{
    width: 100%;
    padding-left: 5px;
    color: white;
    margin-top: 7px;
    font-size: 20px;
}
.item_setting{
    width: 200px;
    height: 250px;
    
}
.my_acc{
    background-color: #728F37;
    border-radius: 5px 5px 10px 10px;
    padding-top: 5px;
    text-align: center;
    height: 28px;
    font-size: larger;
}
#user_setting{
    margin: 0;
    text-align: center;
}
.box_acc{
    background-color: rgb(164,164,164);
    border-radius: 5px;
    height: 250px;
}
.edit_setting{
    margin-top: 5px;
    margin-left: 10px;
    background-color: rgb(164,164,164);
    width: 70%;
    height: auto;
    border-radius: 5px;
}
.name_username{
    display: block;
    display: flex;
    margin-left: 5%;
    width: 100%;
    margin-top: 10px;
}
.in{
    background-color: rgb(232,232,232);
    border: 1px solid;
    border-radius: 5px;
    width: 80%;
    height: 25px;
}
.container_gender{
    width: 80%;
}
.gender{
    display: block;
    display: flex;
}
.radio{
    display: flex;
}
#customRadioInline2{
    width: 20px;
}
.custom-control_custom-radio_custom-control-inline{
    margin-left: 20px;
}
#email{
    width: 100%;
}
p{
    font-size: large;
    margin-bottom: 0;
}
label{
    font-size: large;
}
.avatar{
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-top: 10px;
}
.choose{
    margin-top: 3rem;
    margin-left: 1rem;
}
.choose::file-selector-button{
    font-weight: bold;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 20px;
    font-size: larger;
    width: 150px;
    background-color: rgb(232,232,232);
}
#ava-chos{
    display: block;
    display: flex;
}
#icon{
    margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 3%;
}
.icon-save{
    display: block;
    display: flex;
}
.c-s{
    margin-top: auto;
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 40px;
}
.can-save{
    height: 27px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(232,232,232);
}