<!-- <div class="container">
    <div class="top">
        <div class="profile">
            <div class="clm">
                <img class="imgProfile" src="../../../assets/images/Tim-hieu-ve-ban-quyen-hinh-anh (3).jpg" alt="">
            </div>
            <div class="profileactions">
                <div class="follow">Follow</div>
                <div class="icon">
                    <mat-icon>more_horiz</mat-icon>
                </div>
            </div>
            <div class="profileHeader">
                <h1>Vo Truong Tu</h1>
                <h3>Bio</h3>
                <h4>joine day</h4>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="top">
        <div class="profile">
            <div class="clm">
                <img class="imgProfile" src="../../../assets/images/Tim-hieu-ve-ban-quyen-hinh-anh (3).jpg" alt="">
                <div class="profileHeader">
                    <h1>Vo Truong Tu</h1>
                    <h3>Bio</h3>
                    <h4>joine day</h4>
                </div>

            </div>
            <div class="profileactions">
                <div class="follow">Follow</div>
                <div class="icon">
                    <mat-icon>more_horiz</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="published">
            <div class="left">
                <mat-icon>assignment</mat-icon>

                <div>posts published</div>
            </div>
            <div class="left">
                <mat-icon> comment</mat-icon>
                <div>comments written</div>
            </div>
        </div>
    </div>
</div>