<div class="container">
    <div class="top">
        <div class="profile">
            <div class="profileHeader">
                <div class="img">
                    <img class="imgProfile" src="../../../assets/images/Tim-hieu-ve-ban-quyen-hinh-anh (3).jpg" alt="">
                </div>
                <div class="profileactions">
                    <div>Follow</div>
                    <div>icon</div>
                </div>
                <h1>Vo Truong Tu</h1>
                <h3>Bio</h3>
                <h4>joine day</h4>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div>aloalo</div>
    </div>
</div>