<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>

<div class="main-content">
  <div class="container mt-7">
    <!-- Table -->
    <div class="row">
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img
                    src="../../../assets/images/profile-uyen.jpg"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          >
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Follow</a>
              <a href="#" class="btn btn-sm btn-default float-right">Report</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-center mt-md-5"
                >
                  <div>
                    <span class="heading">8</span>
                    <span class="description">Posts published</span>
                  </div>
                  <div>
                    <span class="heading">0</span>
                    <span class="description">Comments written</span>
                  </div>
                  <div>
                    <span class="heading">0</span>
                    <span class="description">Tags followed</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3 style="text-align: center">
                Nguyễn Văn Gấu Trúc<span class="font-weight-light">, 27</span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>404 Bio not found
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Runway Lightning
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>ITSS Training And Solution
                Service
              </div>
              <hr class="my-4" />
              <div class="card">
                <img
                  class="f-card"
                  src="../../../assets/images/Rectangle-169.png"
                  alt=""
                />
                <h3>
                  There’s No Such Thing as Online Education. How We Will Study
                  Tomorrow
                </h3>
                <p>22 Dec 2022</p>
              </div>
              <div class="card">
                <img
                  class="f-card"
                  src="../../../assets/images/Rectangle-169.png"
                  alt=""
                />
                <h3>
                  There’s No Such Thing as Online Education. How We Will Study
                  Tomorrow
                </h3>
                <p>22 Dec 2022</p>
              </div>
              <div class="card">
                <img
                  class="f-card"
                  src="../../../assets/images/Rectangle-169.png"
                  alt=""
                />
                <h3>
                  There’s No Such Thing as Online Education. How We Will Study
                  Tomorrow
                </h3>
                <p>22 Dec 2022</p>
              </div>
              <div class="more">
                <a href="#" target="_blank">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
