<div class="back">
    <div class="container">
        <!-- <img src="../../../assets/images/background.png"> -->
        <div class="left">
            <div class="tinymce">
                <mat-icon> insert_photo</mat-icon>
                <mat-icon> format_bold</mat-icon>
                <mat-icon> format_italic</mat-icon>
                <mat-icon> format_underlined</mat-icon>
                <mat-icon> format_align_left</mat-icon>
                <mat-icon> format_align_center</mat-icon>
                <mat-icon> format_align_right</mat-icon>
                <mat-icon> format_quote</mat-icon>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <textarea class="title-text" placeholder="New Title here ..." rows="5"></textarea>
            </div>
            <div class="bottom">
                <textarea class="content" placeholder="Content here..." rows="25"></textarea>
                <div class="layoutbtn">
                    <div class="btn1-1">Edit</div>
                    <div class="btn1-2">Preview</div>
                </div>
                <div class="layoutbtn2">
                    <div class="btn2-1">Save Draft</div>
                    <div class="btn2-2">Post</div>
                </div>
            </div>
        </div>
    </div>
</div>