<div class="container">
  <div class="top">
    <div class="box">
      <div class="left">
        <img src="../../../assets/images/Rectangle-197.jpg" alt="" />
      </div>
      <div class="right">
        <h2 class="title">
          To Measure the Immeasurable: How Machine Learning Helps Determine
          Language Level
        </h2>
        <p class="author">by Viktor Skliznev, Skyeng data analyst</p>
        <div class="account">
          <div class="avatar">
            <img src="../../../assets/images/Rectangle-62.png" alt="" />
          </div>
          <div class="info">
            <h3>Business English</h3>
            <p>Jun 24 ꞏ 4 min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="challenge">
      <div class="card">
        <img class="f-card" src="../../../assets/images/Rectangle-169.png" alt="">
        <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
        <div class="avatar2">
          <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
          <div class="info2">
            <h3>Business English</h3>
            <p>Jun 24 ꞏ 4 min read</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="f-card" src="../../../assets/images/Rectangle-169.png" alt="">
        <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
        <div class="avatar2">
          <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
          <div class="info2">
            <h3>Business English</h3>
            <p>Jun 24 ꞏ 4 min read</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mid2">  
      <div class="content-left">
        <div class="lastest-post">
          <div class="lastest-post-info">
            <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
            <p>A case study from ANTAL Russia, British recruitment agency with branches all over the world including Russia</p>
            <div class="avatar2">
              <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
              <div class="info2">
                <h3>Business English</h3>
                <p>Jun 24 ꞏ 4 min read</p>
              </div>
            </div>
          </div>
          <img class="feature-img-lp" src="../../../assets/images/Rectangle-56.png" alt="">
        </div>
        <div class="lastest-post">
          <div class="lastest-post-info">
            <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
            <p>A case study from ANTAL Russia, British recruitment agency with branches all over the world including Russia</p>
            <div class="avatar2">
              <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
              <div class="info2">
                <h3>Business English</h3>
                <p>Jun 24 ꞏ 4 min read</p>
              </div>
            </div>
          </div>
          <img class="feature-img-lp" src="../../../assets/images/Rectangle-56.png" alt="">
        </div>
        <div class="lastest-post">
          <div class="lastest-post-info">
            <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
            <p>A case study from ANTAL Russia, British recruitment agency with branches all over the world including Russia</p>
            <div class="avatar2">
              <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
              <div class="info2">
                <h3>Business English</h3>
                <p>Jun 24 ꞏ 4 min read</p>
              </div>
            </div>
          </div>
          <img class="feature-img-lp" src="../../../assets/images/Rectangle-56.png" alt="">
        </div>
        <div class="lastest-post">
          <div class="lastest-post-info">
            <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
            <p>A case study from ANTAL Russia, British recruitment agency with branches all over the world including Russia</p>
            <div class="avatar2">
              <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
              <div class="info2">
                <h3>Business English</h3>
                <p>Jun 24 ꞏ 4 min read</p>
              </div>
            </div>
          </div>
          <img class="feature-img-lp" src="../../../assets/images/Rectangle-56.png" alt="">
        </div>
      </div>
      <div class="content-right">
        <h3>Popular Articles</h3>
        <div class="pop-articles">
            <h4>What is Lorem Ipsum?</h4>
            <p class="subtance-right">Why is IELTS vocabulary so important?
            Being a proficiency test, it is the duty of the IELTS examiners to
            </p>
            <p class="day-month-year-right">Aug 18, 2022</p>
            <h4>What is Lorem Ipsum?</h4>
            <p class="subtance-right">Why is IELTS vocabulary so important?
            Being a proficiency test, it is the duty of the IELTS examiners to
            </p>
            <p class="day-month-year-right">Aug 18, 2022</p>
            <h4>What is Lorem Ipsum?</h4>
            <p class="subtance-right">Why is IELTS vocabulary so important?
            Being a proficiency test, it is the duty of the IELTS examiners to
            </p>
            <p class="day-month-year-right">Aug 18, 2022</p>
        </div>
        <h3>Date Archives</h3>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            {{node.name}}
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
    <div class="challenge">
      <div class="card">
        <img class="f-card" src="../../../assets/images/Rectangle-169.png" alt="">
        <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
        <div class="avatar2">
          <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
          <div class="info2">
            <h3>Business English</h3>
            <p>Jun 24 ꞏ 4 min read</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="f-card" src="../../../assets/images/Rectangle-169.png" alt="">
        <h2>There’s No Such Thing as Online Education. How We Will Study Tomorrow</h2>
        <div class="avatar2">
          <img class="profile-ava" src="../../../assets/images/Rectangle-62.png" alt="" />
          <div class="info2">
            <h3>Business English</h3>
            <p>Jun 24 ꞏ 4 min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
