<div class="container">
  <div class="footer">
    <div class="brand">
      <img src="../../../assets/images/logo_white.png" alt="" />
      <div class="text1">2022 All right reserved</div>
    </div>
    <div class="follow">
      <div class="text2">Follow us on</div>
      <img class="logo" src="../../../assets/images/icons8-facebook-100.png" />
      <img class="logo" src="../../../assets/images/icons8-instagram-100.png" />
      <img class="logo" src="../../../assets/images/icons8-twitter-100.png" />
    </div>
  </div>
</div>
